asgiref
beautifulsoup4
blinker
boto
certifi
charset-normalizer
click
colorama
colorlog
crispy-bootstrap5
Django
django-crispy-forms
django-environ
django-markwhat
EasyProcess
entrypoint2
Flask
gunicorn
idna
itsdangerous
Jinja2
keyring
markdown2
MarkupSafe
MouseInfo
mss
numpy
opencv-python
packaging
Pillow
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
requests
segno
six
soupsieve
sqlparse
tornado
tzdata
urllib3
Werkzeug
