{% extends 'base.html' %} 
{% load static %} 
{% block head_title %}Banking System{% endblock %} 
{% block content %} 
{% if form.non_field_errors %} 
{% for error in form.non_field_errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
    <p class="font-bold">Error!</p>
    <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} 
{% endif %} 
{% if form.non_field_errors %} 
{% for error in form.non_field_errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
    <p class="font-bold">Error!</p>
    <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %}
 {% endif %}
 <div class="bg-white px-3 py-4 rounded-xl my-6">
    <h1 class="font-bold text-3xl text-center pb-5">Sign In</h1>
    <div class="w-full mt-10">
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %} 
            {% for hidden_field in form.hidden_fields %} 
            {{ hidden_field.errors }} {{ hidden_field }} 
            {% endfor %}
            
            <div class="flex flex-wrap -mx-3 mb-6">
                {% load crispy_forms_tags %}
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Change Password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}